@{
    ViewData["Title"] = "Home Page";
}
<head>
</head>
<body>
    <div class="banner">
        <div>
            <h1>Thanks for looking at my site!</h1>
            <h5>I hope a made a big impact!&#129345 &#128165</h5>
            <a href="mailto:ben.himel@outlook.com">
                <button class="button">Email me to hire!</button>
            </a>
        </div>
    </div>
</body>

